version: '3'

services:
  cloudflared:
    env_file: .env
    build: 
      context: ./cloudflared
      args:
      - ARCHITECTURE=${ARCHITECTURE}
      - PORT=${PORT}
    container_name: cloudflared
    restart: always
    networks:
      cloudflared_net:
        # Define a static ip for the container. The containter can be accessible by outside with this IP.
        ipv4_address: 172.28.1.1

networks:
  cloudflared_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16